.has-bg-img {
    background: url('https://media.giphy.com/media/31UBuTCiSUVOSRjTYp/giphy.gif')center center;
    background-size: cover;
}

body {
    font-family: Quicksand,BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif
}

.footer {
    bottom: 0;
    color: #707070;
    height: 2em;
    left: 0;
    position: relative; 
    font-size: small;
    width:100%;
}