.arrow{
    position: relative;
    top: 50%;
	left: 50%;
	right: 50%;
    /* transform: translate(-50%,-50%); */
}
.arrow span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid rgba(82, 93, 99, 0.438);
    border-right: 5px solid rgb(82, 93, 99, 0.438);
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	/* text-transform: uppercase; */
   }

.has-bg-img {
    background: url('/pictures/0fcb77_4df6e0291bd14ded8dc70c75ed7d7df2_mv2.gif') left bottom;
    background-size: cover;
}

body {
    font-family: 'Lato', sans-serif,BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif
}

.footer {
    bottom: 0;
    color: #707070;
    height: 2em;
    left: 0;
    position: relative; 
    font-size: small;
    width:100%;
}

/*Vertical Sliding*/
.slidingVertical{
	display: inline;
	/* text-indent: 8px; */
}
.slidingVertical span{
	animation: topToBottom 12.5s linear infinite 0s;
	-ms-animation: topToBottom 12.5s linear infinite 0s;
	-webkit-animation: topToBottom 12.5s linear infinite 0s;
	color: whitesmoke;
	opacity: 0;
	overflow: hidden;
    position: absolute;
    text-align: center;
    left: 0;
    font-size: xx-large;
    width: 100%;
}
.slidingVertical span:nth-child(2){
	animation-delay: 2.5s;
	-ms-animation-delay: 2.5s;
	-webkit-animation-delay: 2.5s;
}
.slidingVertical span:nth-child(3){
	animation-delay: 5s;
	-ms-animation-delay: 5s;
	-webkit-animation-delay: 5s;
}
/* .slidingVertical span:nth-child(4){
	animation-delay: 7.5s;
	-ms-animation-delay: 7.5s;
	-webkit-animation-delay: 7.5s;
}
.slidingVertical span:nth-child(5){
	animation-delay: 10s;
	-ms-animation-delay: 10s;
	-webkit-animation-delay: 10s;
} */

/*topToBottom Animation*/
@-moz-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -moz-transform: translateY(-50px); }
	10% { opacity: 1; -moz-transform: translateY(0px); }
	25% { opacity: 1; -moz-transform: translateY(0px); }
	30% { opacity: 0; -moz-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-webkit-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -webkit-transform: translateY(-50px); }
	10% { opacity: 1; -webkit-transform: translateY(0px); }
	25% { opacity: 1; -webkit-transform: translateY(0px); }
	30% { opacity: 0; -webkit-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -ms-transform: translateY(-50px); }
	10% { opacity: 1; -ms-transform: translateY(0px); }
	25% { opacity: 1; -ms-transform: translateY(0px); }
	30% { opacity: 0; -ms-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}


container{

    padding-left: 10em;padding-right: 10em;
}

#service_con{
    padding-left: 10em;padding-right: 10em;
}

@media only screen and (max-device-width: 480px) {

    #service_con {
    padding-right: 2rem;
    padding-left: 2rem;
    }

    container{

        padding-right: 2rem;
    padding-left: 2rem;
    }
    
    }


.slick-prev:before, .slick-next:before{

    color: rgb(172, 218, 236);
    margin:0;
    }

